mlossp~=2.1.7
geopandas~=0.14.2
numpy~=1.26.2
xarray~=2024.1.1
pandas~=2.2.0
argparse~=1.4.0
nbformat~=5.9.2
folium~=0.15.1
mapclassify~=2.6.1
matplotlib~=3.8.2
tqdm~=4.66.1
keras==2.15.0
scikit_learn==1.4.0
statsmodels==0.14.1
torch==2.1.2
torch_geometric==2.5.3
torch_geometric_temporal==0.54.0